* {
  box-sizing: border-box;
}

html,
body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Inter', sans-serif;
  max-width: 550px;
  /* height: 100vh; */
  background: #fff7ed;
}

/* HEADER */

header {
  text-decoration: none;
  height: 150px;
  padding: 0 1em;
}

.nav-title a {
  text-decoration: none;
}

.nav-title a:hover {
  color: black;
}

.nav-title h1 {
  color: black;
  font-size: 2.56rem;
  font-weight: bold;
}

.navigation {
  height: 100%;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-links > a {
  font-size: 1rem;
  color: #4d4d4d;
  margin: 0.75em;
  text-decoration: none;
}

.nav-links > a:hover {
  text-decoration: underline;
  color: black;
  font-weight: 700;
}

/* HOME PAGE MENU */

.home-menu {
  position: relative;
  height: 390px;
  background: url('./assets/home-hero.png');
  background-size: cover;
  padding: 2.2em 1.8em;
}

.menu-title,
.menu-find {
  position: absolute;
  color: #fff;
  width: 90%;
}

.menu-title h1 {
  font-size: 2.2rem;
  font-weight: 800;
  line-height: 42px;
  margin: 0;
}

.menu-find {
  top: 130px;
}

.menu-find p {
  font-size: 1.05rem;
  line-height: 1.5;
  margin-bottom: 2.2em;
}

.menu-find > .link,
.current-van > .link {
  color: #fff;
  background-color: #ff8c38;
  margin-bottom: 3em;
}

/* LINKS */

.link {
  text-decoration: none;
  font-weight: 700;
  border: none;
  border-radius: 0.35em;
  padding: 0.8em;
}

.link-lg {
  display: block;
  text-align: center;
  width: 100%;
}

/* ABOUT PAGE */
.about-menu {
  height: 800px;
  width: 100%;
  background: #fff7ed;
}
.about-menu > img {
  width: 100%;
  height: 235px;
}

.about-menu-text {
  margin: 2em 1.6em;
  color: #161616;
}

.about-menu-text h2 {
  font-size: 2rem;
}

.about-menu-text p {
  line-height: 1.5;
}

.about-menu-destination {
  margin-top: 2em;
  padding: 1.1em 1.5em;
  height: 198px;
  background-color: #ffcc8d;
  border-radius: 0.35em;
}

.about-menu-destination h3 {
  font-size: 1.5rem;
  line-height: 30px;
}

.link-explore {
  background: #000;
  color: #fff;
}

/* VANS LIST */

.vans-list {
  padding: 0 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 2.5em;
}

.van-item {
  height: 340px;
  width: 250px;
}

.van-item a {
  text-decoration: none;
}

.van-img img {
  border-radius: 0.3em;
  width: 100%;
  height: 250px;
}

.name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: bold;
  color: #161616;
  height: 50px;
}

.name,
.price {
  margin-top: 0.25em;
}

.day-price {
  display: flex;
  justify-content: end;
  font-size: 0.9rem;
  font-weight: 400;
}

i {
  font-style: normal;
  text-transform: capitalize;
}

.link-option {
  font-weight: 600;
  font-size: 1rem;
  border-radius: 0.35em;
  padding: 0.5em 1em;
  margin-top: 0;
  text-decoration: none;
}

.luxury {
  background: #000;
  color: white;
}

.rugged {
  background: #115e59;
  color: white;
}

.simple {
  background: #e17654;
  color: white;
}

/* CURRENT VAN */

.current-van {
  padding: 0 1em;
}

.current-img {
  height: 490px;
  width: 100%;
  border-radius: 0.35em;
  margin-bottom: 2em;
}

.current-van h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.current-price {
  font-size: 1.25rem;
  font-weight: 500;
}

.current-description {
  line-height: 1.5;
  margin-bottom: 2em;
}

/* HOST LAYOUT */

.host-layout {
  padding: 0 1em;
  display: flex;
  flex-direction: row;
}

.host-layout a {
  text-decoration: none;
  color: #4d4d4d;
  font-size: 1.1rem;
  font-weight: 500;
  margin-right: 1.2em;
}

.host-layout a:hover {
  color: black;
  font-weight: 700;
  text-decoration: underline;
}

/* HOST VANS LIST */

.heading-list {
  padding: 0 1em;
}

.listVans {
  margin: 3em 0;
  padding: 0 1em;
}

.host-van-item {
  padding: 0 1em;
  margin-bottom: 1.2em;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
}

.host-van-img img {
  height: 66px;
  width: 66px;
  border-radius: 0.3em;
}

.host-name-price {
  margin-left: 1em;
}

.host-name,
.host-price {
  margin: 0.3em 0;
}

.host-name {
  font-size: 1.25rem;
  font-weight: 600;
  color: #161616;
}

.host-price {
  color: #4d4d4d;
  font-weight: 500;
  font-size: 1rem;
}

/* footer */

footer {
  height: 75px;
  font-size: 0.9rem;
  background-color: #252525;
  color: #aaaaaa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
